00.1

In [16]:
a=[]

for i in range(1,101):
    if i%15==0: 
        print("MikeyMouse")  
        a.append("MikeyMouse")
    elif i%5==0:
        print("Mouse")
        a.append("Mouse")
    elif i%3==0: 
        print("Mikey")
        a.append("Mikey")
    else :
        print(i)   
        a.append(i)



for i in a:
    
    if i=="Mikey": print("Donald")
    elif i=="Mouse": print("Duck")
    else : print(i)

1
2
Mikey
4
Mouse
Mikey
7
8
Mikey
Mouse
11
Mikey
13
14
MikeyMouse
16
17
Mikey
19
Mouse
Mikey
22
23
Mikey
Mouse
26
Mikey
28
29
MikeyMouse
31
32
Mikey
34
Mouse
Mikey
37
38
Mikey
Mouse
41
Mikey
43
44
MikeyMouse
46
47
Mikey
49
Mouse
Mikey
52
53
Mikey
Mouse
56
Mikey
58
59
MikeyMouse
61
62
Mikey
64
Mouse
Mikey
67
68
Mikey
Mouse
71
Mikey
73
74
MikeyMouse
76
77
Mikey
79
Mouse
Mikey
82
83
Mikey
Mouse
86
Mikey
88
89
MikeyMouse
91
92
Mikey
94
Mouse
Mikey
97
98
Mikey
Mouse
1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
MikeyMouse
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
MikeyMouse
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
MikeyMouse
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
MikeyMouse
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
MikeyMouse
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
MikeyMouse
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck

00.2

In [17]:
x=input("please inter a variable:")
y=input("please inter a variable:")

def swap ():
    y=y.replace(y,x)
    x=x.replace(x,y)
print("x is",y)
print("y is",x)

please inter a variable:3
please inter a variable:2
x is 2
y is 3

00.3

In [11]:
from math import sqrt

def func(x1, y1, x2, y2):   
    u=(x1, y1)
    v=(x2, y2)
    
    x=(x1-x2)**2
    y=(y1-y2)**2
    dist=sqrt(x+y)
    
    print ("The distance is :", dist)
func(3,0,0,4)

The distance is : 5.0

00.4

In [3]:
a= "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse:"

cr = [x.lower() for x in a]

number=[]
for i in range (len(cr)) :
    count=0
    for j in range(len(cr)) :
        if cr[i]==cr[j]:
            count+=1
    number.append(count)
b=[]
for i in range(len(cr)):
    if [cr[i],number[i]] not in b :
        b.append([cr[i],number[i]])
        print([cr[i],number[i]])

['w', 2]
['r', 17]
['i', 14]
['t', 19]
['e', 22]
[' ', 41]
['a', 7]
['p', 8]
['o', 13]
['g', 1]
['m', 12]
['h', 9]
['n', 10]
['s', 9]
['u', 9]
['b', 5]
['f', 10]
['1', 2]
['0', 2]
['.', 2]
['l', 6]
['c', 3]
['k', 2]
['y', 2]
['d', 3]
['v', 2]
[':', 1]

00.5

In [3]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_numbers(l):
    unique=[]
    for i in l:
        if i not in unique:
            unique.append(i)
    print("the length of unique list is",len(unique))
    print("the numbers in unique list is: ",unique)
    print("the length of l list is :",len(l))
    
unique_numbers(l)

the length of unique list is 54
the numbers in unique list is:  [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
the length of l list is : 80

00.6

In [1]:
number=int(input("please inter a number: "))

def square(x):
    a=number**2
    return a

def cube(x):
    b=number**3
    return b

def sixth_power(x):
    c=cube(number)*square(number)*number
    return c

print(square(number))
print(cube(number))
print(sixth_power(number))

please inter a number: 5
25
125
15625

00.7

In [4]:
#part(a)
a=[0,1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(a)) :
    i=i**3
    print(i)

#part(b)    
[i**3 for i in a]

0
1
8
27
64
125
216
343
512
729
1000

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

008

In [5]:
def Pythagorean():
    a=[]
    for i in range(1,101) :
        for j in range(1,101) :
            for k in range(1,101) :
                if (i**2+j**2==k**2) :
                    a.append((i,j,k))
    print(a)
Pythagorean()

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100)]

009

In [22]:
def Normalize(x):
    a=[]
    for i in range(len(x)):
        b=x[i]/sum(x)
        a.append(b)
        print(a)
Normalize([2,8,6])

[0.125]
[0.125, 0.5]
[0.125, 0.5, 0.375]